@(action : controllers.admin.action.AdminAction)(implicit request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._
@import controllers.admin.action._

    
@mainAdmin(action.label, request) {
	<div style="background-color:#9BA5AD;border-bottom:1px solid #556B7B;padding:4px;padding-left:20px;padding-right:20px;">
		<a href="#" class="btn" id="run" action="@action.name"><i class="icon-play"></i> Run</a>
		<div class="progress pull-right" style="width:150px;margin-top:4px;">
		  	<div id="actionProgress" class="bar" style="width: 0%;"></div>
		</div>
	</div>

	<div style="margin:20px;margin-right:20px;margin-top:0px;">
	    @snippets.frame("Description", action.description, "icon-leaf")
		@snippets.frame("Configuration", "<div>Nothing to configure</div>", "icon-wrench")
		@snippets.frame("Messages", """<div id="message_area"></div>""", "icon-comment")
	</div>

	<script src="@routes.Assets.at("javascripts/clientServer.js")" type="text/javascript"></script>
}